.geolocation {
    width: 50%;
    padding-right: 6.25%;

    .geolocation__map {
        height: 72%;

        .map {
            height: 100%;
            width: 90%;
            margin: auto;
            margin-top: 75px;

            canvas {
                border-radius: 30px;
                height: 100%;
            }

            @media only screen and (max-width: 1024px) {
                margin-top: 0;
            }
        }

        @media only screen and (max-width: 1024px) {
            padding-top: 40px;
        }
    }

    .geolocation__coordinates {
        margin-top: 50px;
            padding-right: 30px;

        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            text-align: right;
            text-transform: capitalize;
            color: #FFFFFF;

            @media only screen and (max-width: 1024px) {
                color: rgba(0, 150, 255, 1);
                text-align: center;
            }
        }

        @media only screen and (max-width: 1024px) {
            margin-top: 20px;
            padding: 0 0 20px 0;
        }        
    }

    @media only screen and (max-width: 1024px) {
        width: 100%;
        height: 67%;
        padding: 0;
        margin-top: 22px;
        background-color: lightcyan;
    }
}