* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-style: normal; }

body {
  width: 100%; }

header {
  display: flex;
  align-items: flex-end;
  padding-top: 30px; }
  @media only screen and (max-width: 700px) {
    header {
      padding-top: 10px;
      display: block; } }

header .control-panel {
  display: flex;
  justify-content: space-between;
  width: 23%;
  min-width: 240px;
  margin-left: 6.25%; }
  header .control-panel .button-change-background {
    width: 44px;
    height: 44px;
    background: url("../../data/images/RefreshBG.svg") 100% 100% no-repeat no-repeat;
    cursor: pointer; }
  header .control-panel form.change-language {
    width: 71px;
    height: 44px;
    cursor: pointer; }
    header .control-panel form.change-language select {
      width: 100%;
      height: 100%;
      background: #aeb5b9;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      border: 0;
      border-radius: 5px;
      cursor: pointer; }
  header .control-panel .buttons-change-temperature-units {
    display: flex;
    width: 40%; }
    header .control-panel .buttons-change-temperature-units .button-fahrenheit, header .control-panel .buttons-change-temperature-units .button-celsius {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      width: 50%;
      background: rgba(76, 82, 85, 0.4);
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #FFFFFF;
      cursor: pointer; }
      header .control-panel .buttons-change-temperature-units .button-fahrenheit.active, header .control-panel .buttons-change-temperature-units .button-celsius.active {
        background: #aeb5b9; }
    header .control-panel .buttons-change-temperature-units .button-fahrenheit {
      border-radius: 5px 0 0 5px; }
    header .control-panel .buttons-change-temperature-units .button-celsius {
      border-radius: 0 5px 5px 0; }

header form.form-search {
  width: 35%;
  height: 44px;
  margin-left: 30%;
  display: flex; }
  header form.form-search input[type="search"] {
    height: 100%;
    width: 73%;
    background: rgba(76, 82, 85, 0.4);
    border: 1px solid rgba(228, 227, 227, 0.2);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border-radius: 5px 0 0 5px;
    cursor: pointer; }
  header form.form-search input[type="submit"] {
    position: relative;
    right: 5px;
    height: 100%;
    width: 25%;
    background: #aeb5b9;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer; }
  header form.form-search .voice-search {
    height: 100%;
    width: 35px;
    background: url("../../data/images/Vector (1).svg") 100% 100% no-repeat no-repeat;
    background-color: #aeb5b9;
    background-size: contain; }
  @media only screen and (max-width: 1024px) {
    header form.form-search {
      width: 45%;
      height: 44px;
      margin-left: 20%; } }
  @media only screen and (max-width: 700px) {
    header form.form-search {
      width: 80%;
      margin: 20px 0 0 20px; } }

.wrapper {
  height: 90%;
  display: flex; }
  @media only screen and (max-width: 1024px) {
    .wrapper {
      display: block; } }

.weather {
  width: 50%;
  padding-left: 6.25%; }
  @media only screen and (max-width: 1200px) {
    .weather {
      padding-left: 3%; } }
  @media only screen and (max-width: 1024px) {
    .weather {
      width: 100%; } }

.weather .weather__today .info {
  padding-top: 50px; }
  .weather .weather__today .info h1 {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF; }
  .weather .weather__today .info h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF; }
    .weather .weather__today .info h3 span {
      padding-left: 15px; }
  @media only screen and (max-width: 500px) {
    .weather .weather__today .info {
      padding-top: 20px; } }

.weather .weather__today .temperature-summary {
  display: flex;
  justify-content: space-around; }
  .weather .weather__today .temperature-summary p.temperature {
    font-weight: bold;
    font-size: 225px;
    line-height: 373px;
    text-transform: uppercase;
    color: #FFFFFF; }
    .weather .weather__today .temperature-summary p.temperature span {
      font-weight: bold;
      font-size: 33%;
      line-height: 0px;
      position: relative;
      z-index: 10;
      bottom: 150px;
      text-transform: uppercase;
      color: #FFFFFF; }
      @media only screen and (max-width: 1100px) {
        .weather .weather__today .temperature-summary p.temperature span {
          bottom: 100px; } }
      @media only screen and (max-width: 550px) {
        .weather .weather__today .temperature-summary p.temperature span {
          bottom: 85px; } }
      @media only screen and (max-width: 550px) {
        .weather .weather__today .temperature-summary p.temperature span {
          bottom: 55px; } }
    @media only screen and (max-width: 1350px) {
      .weather .weather__today .temperature-summary p.temperature {
        font-size: 185px; } }
    @media only screen and (max-width: 1200px) {
      .weather .weather__today .temperature-summary p.temperature {
        font-size: 150px; } }
    @media only screen and (max-width: 700px) {
      .weather .weather__today .temperature-summary p.temperature {
        font-size: 165px; } }
    @media only screen and (max-width: 550px) {
      .weather .weather__today .temperature-summary p.temperature {
        font-size: 125px; } }
    @media only screen and (max-width: 500px) {
      .weather .weather__today .temperature-summary p.temperature {
        font-size: 100px; } }
    @media only screen and (max-width: 400px) {
      .weather .weather__today .temperature-summary p.temperature {
        font-size: 75px; } }
  .weather .weather__today .temperature-summary ul {
    list-style-type: none;
    padding-top: 160px; }
    .weather .weather__today .temperature-summary ul li {
      font-weight: bold;
      font-size: 22px;
      line-height: 37px;
      text-transform: uppercase;
      color: #FFFFFF; }
      @media only screen and (max-width: 500px) {
        .weather .weather__today .temperature-summary ul li {
          font-size: 18px; } }
      @media only screen and (max-width: 450px) {
        .weather .weather__today .temperature-summary ul li {
          font-size: 17px; } }
      @media only screen and (max-width: 400px) {
        .weather .weather__today .temperature-summary ul li {
          font-size: 16px; } }
      @media only screen and (max-width: 350px) {
        .weather .weather__today .temperature-summary ul li {
          font-size: 15px; } }
  .weather .weather__today .temperature-summary img {
    width: 155px;
    height: 155px; }
    @media only screen and (max-width: 1250px) {
      .weather .weather__today .temperature-summary img {
        width: 115px;
        height: 115px; } }
    @media only screen and (max-width: 700px) {
      .weather .weather__today .temperature-summary img {
        width: 100px;
        height: 100px;
        position: relative;
        top: 75px; } }
    @media only screen and (max-width: 500px) {
      .weather .weather__today .temperature-summary img {
        width: 65px;
        height: 65px; } }
  @media only screen and (max-width: 1024px) {
    .weather .weather__today .temperature-summary {
      width: 100%; } }

.weather .weather__three-days {
  display: flex;
  justify-content: space-around; }
  .weather .weather__three-days p.day-week {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF; }
    @media only screen and (max-width: 450px) {
      .weather .weather__three-days p.day-week {
        font-size: 17px; } }
    @media only screen and (max-width: 400px) {
      .weather .weather__three-days p.day-week {
        font-size: 16px; } }
    @media only screen and (max-width: 350px) {
      .weather .weather__three-days p.day-week {
        font-size: 15px; } }
  .weather .weather__three-days .info-day {
    display: flex; }
  .weather .weather__three-days p.day-temperature {
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
    text-transform: uppercase;
    color: #FFFFFF; }
    @media only screen and (max-width: 600px) {
      .weather .weather__three-days p.day-temperature {
        font-size: 65px; } }
    @media only screen and (max-width: 500px) {
      .weather .weather__three-days p.day-temperature {
        font-size: 50px;
        line-height: 50px; } }
    @media only screen and (max-width: 400px) {
      .weather .weather__three-days p.day-temperature {
        font-size: 35px; } }
  .weather .weather__three-days img.day-icon {
    width: 60px;
    height: 60px;
    margin-left: 10px; }
    @media only screen and (max-width: 600px) {
      .weather .weather__three-days img.day-icon {
        width: 50px;
        height: 50px; } }
    @media only screen and (max-width: 500px) {
      .weather .weather__three-days img.day-icon {
        width: 40px;
        height: 40px; } }
    @media only screen and (max-width: 400px) {
      .weather .weather__three-days img.day-icon {
        width: 25px;
        height: 25px; } }

.geolocation {
  width: 50%;
  padding-right: 6.25%; }
  .geolocation .geolocation__map {
    height: 72%; }
    .geolocation .geolocation__map .map {
      height: 100%;
      width: 90%;
      margin: auto;
      margin-top: 75px; }
      .geolocation .geolocation__map .map canvas {
        border-radius: 30px;
        height: 100%; }
      @media only screen and (max-width: 1024px) {
        .geolocation .geolocation__map .map {
          margin-top: 0; } }
    @media only screen and (max-width: 1024px) {
      .geolocation .geolocation__map {
        padding-top: 40px; } }
  .geolocation .geolocation__coordinates {
    margin-top: 50px;
    padding-right: 30px; }
    .geolocation .geolocation__coordinates p {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      text-align: right;
      text-transform: capitalize;
      color: #FFFFFF; }
      @media only screen and (max-width: 1024px) {
        .geolocation .geolocation__coordinates p {
          color: #0096ff;
          text-align: center; } }
    @media only screen and (max-width: 1024px) {
      .geolocation .geolocation__coordinates {
        margin-top: 20px;
        padding: 0 0 20px 0; } }
  @media only screen and (max-width: 1024px) {
    .geolocation {
      width: 100%;
      height: 67%;
      padding: 0;
      margin-top: 22px;
      background-color: lightcyan; } }
